@import url('https://fonts.cdnfonts.com/css/calculator');
body{
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.calculator{
    height: 550px;
    width: 350px;
    background-color: grey;
    padding:35px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
}
.display{
    background-color: orange;
    display: flex;
    min-height: 75px;
    flex-grow: 1;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 5px solid rgb(105, 94, 94);
    font-family: 'Calculator', sans-serif;
}
.row{
    display: flex;
    flex: 1;
    gap: 16px;
}
button{
    flex: 1;
    font-size: 35px;
    font-weight: bold;
    border-radius: 20px;
    border: 0px;
    padding: 0px;
}
.equals{
    flex-grow: 2.19;
}
.clear{
    background-color: lightblue;
}